<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form Viewer</title>

    <style>
      img {
        max-width: 90vw;
      }
    </style>
  </head>
  <body>
    <ul>
      <li><strong>Created:</strong> {{ submission.created|as_tz('US/Pacific')|fmtdatetime }}</li>
      {% for key, value in pretty_data %}
        <li><strong>{{ key }}:</strong> {{ value }}</li>
      {% endfor %}

      <li>
        <strong>Uploaded Images:</strong><br>
        {% for file in submission.files %}
          {% set imgurl = file.url_for() %}
          <a href="{{ imgurl }}"><img src="{{ imgurl }}"></a><br>
        {% endfor %}
      </li>
    </ul>
  </body>
</html>
